#mem_set
local_vars 0


	 arg 1
	 arg 0
	 mem_set
	 push 0
	 ret

push 0
ret
#print
local_vars 1
push 1024.0
lvar_set 0
lvar_get 0
push 0.0
add
push 0.0
call #mem_set 2
pop
lvar_get 0
push 1.0
add
arg 0
call #mem_set 2
pop
push 0
ret
#initDisplay
local_vars 1
push 1030.0
lvar_set 0
lvar_get 0
push 1.0
add
push 800.0
call #mem_set 2
pop
lvar_get 0
push 2.0
add
push 600.0
call #mem_set 2
pop
lvar_get 0
push 0.0
add
push 0.0
call #mem_set 2
pop
push 0
ret
#drawDisplay
local_vars 1
push 1030.0
lvar_set 0
lvar_get 0
push 1.0
add
arg 4
call #mem_set 2
pop
lvar_get 0
push 2.0
add
arg 3
call #mem_set 2
pop
lvar_get 0
push 3.0
add
arg 2
call #mem_set 2
pop
lvar_get 0
push 4.0
add
arg 1
call #mem_set 2
pop
lvar_get 0
push 5.0
add
arg 0
call #mem_set 2
pop
lvar_get 0
push 0.0
add
push 1.0
call #mem_set 2
pop
push 0
ret
#fill
local_vars 0
arg 1
push 599.0
eq
br_true #if_true_0
goto #if_end_0
#if_true_0
arg 2
push 799.0
eq
br_true #if_true_0
goto #if_end_0
#if_true_0
push 0
ret
#if_end_0
#if_end_0
arg 2
push 800.0
eq
br_true #if_true_2
arg 2
arg 1
arg 0
arg 0
arg 0
call #drawDisplay 5
pop
arg 2
push 1.0
add
arg 1
arg 0
call #fill 3
pop
goto #if_end_2
#if_true_2
push 0.0
arg 1
push 1.0
add
arg 0
call #fill 3
pop
push 0
ret
#if_end_2
push 0
ret
#filler
local_vars 0
arg 0
push 1.0
lt
br_true #if_true_3
goto #if_end_3
#if_true_3
push 0.0
push 0.0
arg 0
call #fill 3
pop
arg 0
push 1.0
push 50.0
div
add
call #filler 1
pop
#if_end_3
push 0
ret
#main
local_vars 0
call #initDisplay 0
pop
push 0.0
call #filler 1
pop
push 0.0
call #filler 1
pop
push 0.0
call #filler 1
pop
push 0.0
call #filler 1
pop
push 0.0
call #filler 1
pop
push 5.0
push 1.0
div
call #print 1
pop
push 11.0
call #print 1
pop
push 0
ret




#_start
call #main 0
halt
